/* STYLE */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.hidden {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    place-items: center;
}

.grid div {
    margin: 5px;
}

.rbutton {
    margin-right: 5px;
    float: left;
}

.gtext {
    background: linear-gradient(
        90deg,
        #6fd05c,
        #bedcb8
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-family: Poppins;
    font-size: 3rem;
}

button {
   height: 1.5rem; 
}

.labelcheckbox {
    background-color: #111;
    border-radius: 50px;
    display: flex;
    height: 26px;
    width: 50px;
    position: relative;
}

.ball  {
    width: 22px;
    height: 22px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    transition: transform 0.2s linear;
}
.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .labelcheckbox .ball {
    transform: translateX(24px);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    transition: background 0.2s linear;
}

body.dark {
    background-color: #292c35;
    color: #fff;
}

.clean {
    position: absolute;
    opacity: 0;
    right: 0.5rem;
    top: 0.5rem;
}

.labelclean {
    background-color: #111;
    border: solid #6fd05c;
    border-radius: 50px;
    display: grid;
    place-items: center;
    height: 26px;
    width: 70px;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.modal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) scale(0);
    width: 40%;
    height: 30%;
    border: solid #6fd05c;
    border-radius: 50px;
    background-color: #fff;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    place-items: center;
}

.modal p {
    grid-column-start: 1;
    grid-column-end: 3;
    color: #111;
    font-size: 2rem;
}

.modal.active {
    transform: translate(-50%, 0) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #111;
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 0.5;
}

.labelconfirm {
    background-color: rgb(100, 175, 255);
    /*border: solid #6fd05c;*/
    display: grid;
    place-items: center;
    border-radius: 50px;
    height: 45px;
    width: 100px;
}

.labelcancel {
    background-color: rgb(255, 149, 149);
    /*border: solid #6fd05c;*/
    display: grid;
    place-items: center;
    border-radius: 50px;
    height: 45px;
    width: 100px;
}

.confirm {
    display: none;
}

.cancel {
    display: none;
}

